* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.custom-a {
  color: #404040;
  text-decoration: none;
}

.custom-a:hover {
  color: #1b1b1b;
}